{% extends "pmt_act/base.html" %}
{% load bootstrap3 %}
{% block header %}
	{% if tw.valid == True %}
		<h2 class='animated 1 fadeInUp delay-0s'>Edit Training/Workshop:</h2>
	{% endif %}
	{% endblock header %}

{% block content %}
	{% if tw.valid == True %}
	
		<form action="{% url 'pmt_act:edit_tw' tw.id %}" method='post' class="form animated 1 fadeIn delay-1s" enctype="multipart/form-data">
			
			{% csrf_token %}
			{% bootstrap_form form %}
			
			{% buttons %}
				<button name="submit" class="btn btn-primary animated 1 bounceIn delay-2s">Save Changes</button>
			{% endbuttons %}
		
		</form>
	
	{% endif %}
{% endblock content %}